.lineThrough {
     text-decoration: line-through;
     opacity: 0.4; /* Real browsers */
     filter: alpha(opacity = 40); /* MSIE */
}

.grayout {
    opacity: 0.4; /* Real browsers */
    filter: alpha(opacity = 40); /* MSIE */
}

.remove-group{
    padding-left: 30px;
    margin-left: 30px;
}